# Ignore node_modules folder, used by React
**/node_modules/

# Ignore build folder, used by React
**/build/

# Ignore .DS_Store on macOS
.DS_Store

# Ignore Python virtual environments
**/venv/

# Ignore Python compiled files
**/*.pyc
**/__pycache__/

# Ignore pytest cache directory
**/.pytest_cache/

# Ignore Visual Studio Code settings
.vscode/

# Ignore SQLite database files, if you use them
**/*.sqlite3

# Ignore FastAPI logs
**/log/
**/logs/

# Ignore any .env files
**/.env

**/.idea

**/customer_data/